{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "../includes/meta.html" %}
</head>
<body>
   <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
            <h3>E<span>xperiment</span></h3>
        </div>
        
        <div class="side-content">
            <div class="profile">
                <div class="profile-img bg-img" style="background-image: url(img/3.jpeg)"></div>
                <h4>{{ user.username }}</h4>
                <small>Role</small>
            </div>

            {% include "../includes/sidebar.html" %}
        </div>
    </div>
    
    <div class="main-content">

        {% include "../includes/header.html" %}
        <main>
            
            <div class="page-header">
                <h1>Dashboard</h1>
                <small>Home / Dashboard</small>
            </div>
            
            <div class="page-content">
            
                <div class="records table-responsive">
                    

                    <div class="record-header">
                        <div class="add">
                            <form  method="GET">
                                <span>key</span>
                        
                                <input type="search" placeholder="Search" name='q' class="record-search">
                                
                                <button>search</button>
                            </form>
                        </div>
                    </div>

                    <div>
                        <table width="100%">

                            {% if tomatoes %}
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <!-- <th><span class="las la-sort"></span> Descriptions</th> -->
                                    <th><span class="las la-sort"></span> Measurements/Texture/Color/ </th>
                                    <th><span class="las la-sort"></span> Health</th>
                                    <th><span class="las la-sort"></span> Nearby Observation</th>
                                    <th><span class="las la-sort"></span> Fungal/Spore</th>
                                    <th><span class="las la-sort"></span> Pest Activities</th>
                                    <th><span class="las la-sort"></span> Climate</th>
                                    <th><span class="las la-sort"></span> ACTIONS</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for tomato in tomatoes %}
                                <tr>
                                    <td>{{tomato.id}}</td>
                                    <!-- <td>
                                        <div class="client">
                                           <div class="client-img bg-img" style="background-image: url(img/3.jpeg)"></div>
                                            <div class="client-info">
                                                <h4>{{tomato.name}}</h4>
                                                <small>{{tomato.variety}}</small>
                                            </div>
                                        </div>
                                    </td> -->
                                    <td>
                                        Spot Size: {{tomato.spot_size}} <br/>
                                        Spot Color: {{tomato.spot_color}} <br/>
                                        Leaf Color: {{tomato.color}} <br/>
                                        Distribution: {{tomato.spot_dist}} <br/>
                                        Texture: {{tomato.leaf_texture}} <br/>
                                    </td>
                                    <td>
                                        {{tomato.overall_health}}
                                    </td>
                                    <td>
                                        {{tomato.nearby_plant_observations}}
                                    </td>
                                    <td>
                                        {{tomato.spore_fungal}}
                                    </td>
                                    <td>
                                        {{tomato.recent_pest_activities}}
                                    </td>
                                    <td>
                                        {{tomato.climate}}
                                    </td>
                                    <td>
                                        <div class="actions">
                                            <span class="lab la-telegram-plane"></span>
                                            <span class="las la-eye"></span>
                                            <!-- <span class="las la-ellipsis-v"></span> -->
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>

                            {% else %}
                                <p>No results found.</p>
                            {% endif %}

                        </table>
                    </div>

                </div>
            
            </div>
            
        </main>
        
    </div>
</body>
</html>